<div class="container">

    <h2>Enter first name of user:</h2>
    <input type="text"
           ng-model="username"
           class="form-control"
           placeholder="Find Name"/>
    <h1>
    </h1>

    <div ng-show="model.result" class="alert alert-info" role="alert">
        {{model.result}}
    </div>

    <a ng-click="model.findUser(username)"
       class="btn btn-primary btn-block">Find User</a>

    <a ng-click="model.getFriends(username)"
       class="btn btn-primary btn-block">Find Friends</a>

    <a ng-click="model.getPosts(username)"
       class="btn btn-primary btn-block">Get Posts</a>
</div>
